@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  html {
    @apply bg-black text-white font-nunito;
  }

  /* .text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  } */
}

@layer components {
  .glow {
    @apply border-grayish hover:border-accent group-hover:border-accent duration-200 ease-in-out;
  }
  .glow-border {
    @apply border-2 glow rounded-lg;
  }

  .glow-b-border {
    @apply border-b-2 glow;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
